# Maven
target/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Resources
youlin-backend-master/src/main/resources/application.yml
youlin-backend-master/src/main/resources/application-prod.yml

# NetBeans
build/
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/