<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linhai.youlin.mapper.AiMessageMapper">

    <resultMap id="BaseResultMap" type="com.linhai.youlin.model.domain.AiMessage">
            <id property="id" column="id" />
            <result property="conversationId" column="conversationId" />
            <result property="userId" column="userId" />
            <result property="senderType" column="senderType" />
            <result property="content" column="content" />
            <result property="modelId" column="modelId" />
            <result property="prompt" column="prompt" />
            <result property="createTime" column="createTime" />
            <result property="updateTime" column="updateTime" />
            <result property="isDelete" column="isDelete" />
    </resultMap>

    <!-- AiMessageMapper.xml -->
    <delete id="deleteAiMessagesByConversationId">
        DELETE FROM ai_message
        WHERE conversationId = #{conversationId}
          AND userId = #{userId}
          AND senderType != #{senderType}
    </delete>

    <sql id="Base_Column_List">
        id,conversationId,userId,senderType,content,modelId,
        prompt,createTime,updateTime,isDelete
    </sql>
</mapper>
